@model IEnumerable<vytkun.ViewModels.DarbuotojasListViewModel>

@{
    ViewBag.Title = "Darbuotojai";
}

<h2>Darbuotojai</h2>

<table class="table table-striped datatable">
    <thead>
        <tr style="background-color: lightblue">
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vardas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pavarde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefonas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.el_pastas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.adresas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.role)
            </th>
            <th style="width: 18%"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vardas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pavarde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefonas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.el_pastas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adresas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
        </tr>
        }
    </tbody>
</table>
