@{
    ViewBag.Title = "PerziuretiPavSarasa";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>@Html.ActionLink("Redaguoti", "RedaguotiPav", "Home", null, new { @class = "btn btn-primary btn-large" })</td>
                <td>@Html.ActionLink("Šalinti", "PasalintiPasirinktaPav", "Home", null, new { @class = "btn btn-danger btn-large" })</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>@Html.ActionLink("Redaguoti", "RedaguotiPav", "Home", null, new { @class = "btn btn-primary btn-large" })</td>
                <td>@Html.ActionLink("Šalinti", "PasalintiPasirinktaPav", "Home", null, new { @class = "btn btn-danger btn-large" })</td>
            </tr>
            <tr>
                <td>July</td>
                <td>@Html.ActionLink("Redaguoti", "RedaguotiPav", "Home", null, new { @class = "btn btn-primary btn-large" })</td>
                <td>@Html.ActionLink("Šalinti", "PasalintiPasirinktaPav", "Home", null, new { @class = "btn btn-danger btn-large" })</td>
            </tr>
        </tbody>
    </table>
</div>    


