@model vytkun.ViewModels.DalyvisEditViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Dalyvio šalinimas</h2>

<h3>Ar tikrai norite pašalinti šį dalyvi?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <tr>
                <td>@Html.DisplayNameFor(model => model.vardas)</td>
                <td>@Html.DisplayNameFor(model => model.pavarde)</td>
            </tr>
        </dt>

        <dd>
            <tr>
                <td>@Html.DisplayFor(model => model.vardas)</td>
                <td>@Html.DisplayFor(model => model.pavarde)</td>
            </tr>
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Šalinti" class="btn btn-danger" />

        @Html.ActionLink("Atgal į sąrašą", "Index", "Dalyvis", new { @class = "btn btn-default" })
    </div>
    }
</div>