@model AutoNuoma.Models.Request

@{
    ViewBag.Title = "RequestCreate";
    var carId = ViewBag.CarId;
}

<h2>Užklausos kūrimo langas</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input hidden name="car-id" value="@carId" />

    <div class="form-horizontal">
        <h4>Request</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.StartingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartingDate, new { htmlAttributes = new { @class = "form-control", @type = "date" }})
                @Html.ValidationMessageFor(model => model.StartingDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EndingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndingDate, new { htmlAttributes = new { @class = "form-control", @type = "date" }})
                @Html.ValidationMessageFor(model => model.EndingDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
