@model AutoNuoma.Models.Review

@{
    ViewBag.Title = "ReviewCreate";
}

<h2>Atsiliepimo kūrimo langas</h2>
<div>
    @Html.ActionLink("Submit", "RequestDetails", "Request")
</div>
@using (Html.BeginForm("ReviewCreate", "Review", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Text, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Evaluation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.Evaluation, new { htmlAttributes = new { @class = "form-control", type="number", value=5, min = 1, max = 5 } })
                @Html.ValidationMessageFor(m => m.Evaluation, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Išsaugoti" class="btn btn-default" />
            </div>
        </div>
    </div>
}
