<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AutoNuoma</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AutoNuoma", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Prisijungimas", "Login", "User")</li>
					<li>@Html.ActionLink("Atsijungti", "Logout", "User")</li>
					<li>@Html.ActionLink("Registracija", "Registration", "User")</li>
					<li>@Html.ActionLink("Paskyra", "Account", "User")</li>
					<li>@Html.ActionLink("Nuomos punktai", "RentPointList", "RentPoint")</li>
					<li>@Html.ActionLink("Automobilių sąrašas", "CarList", "Car")</li>
					<li>@Html.ActionLink("Užklausų sąrašas", "RequestList", "Request")</li>
					<li>@Html.ActionLink("Naujienlaiškio kūrimas", "NewsletterCreate", "Home")</li>
					<li>@Html.ActionLink("Pokalbių sąrašas", "ChatList", "Chat")</li>
					<li>@Html.ActionLink("Narių sąrašas", "MemberList", "User")</li>
					<li>@Html.ActionLink("Ataskaita", "Report", "Request")</li>
					<li>@Html.ActionLink("Atsiliepimų sąrašas", "ReviewList", "Review")</li>
					<li>@Html.ActionLink("Nario pokalbis", "ChatUser", "Chat")</li>
				</ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
		<br /><br /><br /><br /><br /><br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AutoNuoma</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
