<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/MyCSS/Body.css" rel="stylesheet" />
    <link href="~/MyCSS/Navbar.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="row">
        @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "col-md-2"});
        <div class="col-md-2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                @*<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown-item">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="dropdown-item">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>*@
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
